*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(253, 253, 253);
    
}

body {
    display: flex;
    flex-direction: column; 
    margin: 0;
    min-height: 100vh;
    background-image: url(../media/img/backgroundM.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
}

/*------------------HEADER-----------------------------------------------*/
header {
    display: flex;
    width: 100%;
    border-bottom: 5px solid rgba(231, 228, 223, 0.7);
    position: fixed;/*si lo pongo se solapa el header y el main no se como corregirlo*/
      background-color: darkslategrey;

}

.picture{
  width: auto;
  height: auto;
  flex-grow: 0;
  align-content: center;
  margin-left: 40px;
  padding-left: 20px;
}
.container-nav{
    align-content: flex-end;
    flex-grow: 2;  /*Este ocupa 2 lugares dentro del header*/
    justify-items: flex-end;
    
  }
nav{
    width: 100%;
 
}
nav ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    flex-wrap: wrap;
    margin-right: 3%;
}

.underline{
  margin: 10px;
}
.underline {
    text-decoration: none;
    font-size: 15px;
}
.underline::after,
.underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #ff0000, #00ffff);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.underline::before {
  top: -5px;
  transform-origin: left;
}

.underline:hover::after,
.underline:hover::before {
  transform: scaleX(1);
}

/*------------------MAIN-----------------------------------------------*/
main{
  flex-grow: 1;
  /*margin: top right bottom left;*/
  margin: 5% 15% 5% 15%;
}

@media  screen and (max-width:600px) {
  main {
    margin: 70% auto auto auto;
  }
}
.contenedor-principal{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  width: 100%;
  max-width: 1200px;
  height: auto;
  margin-top: 5%;
  gap: 30px ;
}

.contenedor-principal p{
  font-family: Verdana;
  font-size: 15px;
  color: rgb(245, 245, 245);
  font-weight: bold;
  margin: 10px;
  
}

.contenedor-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkslategrey;
  border-radius: 10px;
}

.item-card{
  margin: 5%;
  text-align: center;
  width: 90%;
  height: auto;
  border-bottom: groove;
  border-radius: 5%;
  justify-items: center;
}

.img-card{
  width: 300px;
  height: 300px;
  max-width: 100%;
  max-height: 100%;
  display: block;
  text-align: center;
  overflow: hidden;
  
  margin: 5%;  
  object-fit: cover; 
  border-radius: 16px;
  
}
 
.boton-categoria {
  text-align: center;
  margin: 5% ;
}

.name-card{
  font-size: 20px;
  margin: 1%;
  width: 100%;
  height: auto;
  margin-bottom: 3%;
}
  .boton-card {
   width: auto;
   display: inline-block;
   padding: 8px 15px;
   margin-bottom: 10%;
   text-decoration: none;
   background-color: rgba(153, 131, 131, 0.8);
   color: white;
   font-weight: bold;
   border-radius: 5px;
   cursor: pointer;
  }
  .boton-card:hover {

  color: rgb(18, 201, 161); 
  text-decoration: underline; 
  background-color: #fff;
  border-radius: 10px;
  }

  .precio {
    text-align: center;
    margin: -15px;
  }

  .divJs{

    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: darkslategrey;;
    background-repeat: no-repeat;
    background-size: cover;
    align-items:center;
    text-decoration: none;
    color: black;
    border-radius: 5%;
    text-align: center;
    padding: 15px;
    
  }
  .divJs h2, h3, li{
    color: rgb(255, 255, 255);
    font-weight: bold;
    list-style: none;
    
  }/*
#contJs{
  color: rgb(255, 255, 255);
  font-weight: bold;
  
}*/
 
/*--------------------------CSS del footer--------------------------------*/
footer {
    
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    font-size: large;
    border-top: 5px solid rgba(231, 228, 223, 0.7);
      background-color: darkslategrey;

    gap: 7px;
    
    

}

.foot-info{
  width: 100%;
  text-align: center;
  margin-left: 50px;
  padding-left: 50px;
}

.frame-ubi{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 20px;
  text-align: center;
  flex-grow: 2;
  margin-left: 15px;
}

.frame-ubi iframe{
  border-radius: 5px;
}

.foot-redes{
  width: 50%;
  margin-top: 10px;
  margin-right: 15px;
}
footer ul {
  display: flex;
  justify-content: flex-end;
  
}

footer ul li {
  list-style: none;
  padding: 5px;
}

footer ul li a {
  width: 31px;
  height: 27px;
  background-color: #fff;
  text-align: center;
  line-height: 21px;
  font-size: 17px;
  margin: -12 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

footer ul li a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

footer ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

footer ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

footer ul li a:hover:before {
  top: 0;
}

footer ul li:nth-child(1) a:before{
  background: #3b5999;
}

footer ul li:nth-child(2) a:before{
  background: #55acee;
}

footer ul li:nth-child(3) a:before {
  background: #0077b5;
}

footer ul li:nth-child(4) a:before {
  background: #dd4b39;
}


/*--------------------------CSS del formulario -------------------------------*/
.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
  
}
.item-form{
  display: flex;
  flex-direction: column;
  padding: 5%;
  gap: 10px;
  text-align: center;
  background-color: darkslategrey;

  border-radius: 5%;

}

  label{
    font-size: 20px;
    font-weight: bold;
    color: rgb(245, 245, 245);
  }
  input, select, textarea, option {
    width: 50%;
    background-color: bisque;
    font-size: 20px;
    font-weight: bold;
    color: black;
    
    
  }

  @media  screen and (max-width:600px) {
  .foot-redes {
    width: 96%;
    margin-top: 10px;
    margin-right: 91px;
  }
  }  
  
  /*#######Calendario#######*/
.landing-page{
  margin: 20px;
  gap: 15px;
}
  .calendar-container {
  background-color: darkslategrey;
  width: 50%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  
}

.month-name {
  margin: 0;
  background-color: rgb(48, 46, 45);
  color: white;
  padding: 10px;
  font-size: 50px;
  font-weight: bold;
}

.day-name {
  font-size: 30px;
  color: rgb(255, 255, 255);
}

.day-number {
  font-size: 100px;
  margin: 0;
  font-weight: bold;
}

.year {
  margin: 20px 0;
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.calendar-text{
  font-size: 25px;
  font-weight: bold;
}

.landing-button{
  font-size: 30px;
   width: auto;
   display: inline-block;
   padding: 8px 15px;
   margin-bottom: 10%;
   text-decoration: none;
   background-color: rgba(153, 131, 131, 0.8);
   color: white;
   font-weight: bold;
   border-radius: 10px;
   cursor: pointer;

}

.landing-button:hover{
  color: rgb(18, 201, 161); 
  text-decoration: underline; 
  background-color: darkslategrey;
  border-radius: 10px;
}

/*--------------Landing page style*/

.landing-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
   